{% extends 'main/base.html' %}

{% block title %}
  StackOverflow Clone
{% endblock %}

{% block content %}
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <h1>StackOverflow Clone</h1>
      <p>Welcome to the StackOverflow Clone!</p>
      <div>
        <a href="{% url 'main:questions:question_create' %}" class="btn btn-warning">Ask Question</a>
        <a href="{% url 'main:questions:question_list' %}" class="btn btn-dark">View Questions</a>
      </div>
    </div>
  </div>
{% endblock %}