<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="{% url 'main:home' %}"
      >StackOverflow</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:questions:question_list' %}"
            >Questions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:questions:tag_list' %}"
            >Tags</a
          >
        </li>
      </ul>
      <div class="d-flex w-100 gap-4 ms-2">
        <form
          method="get"
          action="{% url 'main:questions:question_list' %}"
          class="d-flex w-100"
        >
          <input
            class="form-control me-2"
            type="search"
            name="q"
            placeholder="Search for questions..."
            aria-label="Search"
            value="{{ request.GET.q }}"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <div class="d-flex gap-2 ms-auto">
          <a class="btn btn-primary" href="{% url 'main:users:profile' %}"
            >Profile</a
          >
          <form method="post" action="{% url 'main:users:logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-light me-0" type="submit">
              Logout
            </button>
          </form>
        </div>
        {% else %}
        <div class="d-flex gap-2 ms-auto">
          <a
            class="btn btn-primary"
            href="{% url 'main:users:login' %}"
            role="button"
            >Login</a
          >
          <a
            class="btn btn-primary"
            href="{% url 'main:users:register' %}"
            role="button"
            >Register</a
          >
        </div>

        {% endif %}
      </div>
    </div>
  </div>
</nav>
