{% extends 'main/base.html' %} 

{% block title %} 
  StackOverflow Clone | Profile
{% endblock %} 

{% block content %}
  <div class="container">
    <h2>Profile</h2>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title mb-3"><strong>Username:</strong> {{ user.username }}</h5>
        <div class="d-flex flex-column gap-2">
          <p class="card-text mb-0"><strong>Email Address:</strong> {{ user.email|default:"Not available" }}</p>
          <p class="card-text mb-0"><strong>Bio:</strong> {{ user.profile.bio|default:"Not available" }}</p>
          <p class="card-text mb-0"><strong>Date joined:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
          <img src="{{ user.profile.image.url }}" class="img-thumbnail" style="width: 12rem; height: 12rem;" alt="profile pic" />
          <a href="{% url 'main:users:profile_update' %}" class="btn btn-primary" style="max-width: 10rem;">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
