{% extends 'main/base.html' %} 

{% block title %} 
  StackOverflow Clone | Questions
{% endblock %} 

{% block content %}
  <div class="container">
    {% if tag %}
      <a href="{% url 'main:questions:question_list' %}" class="btn btn-sm btn-secondary mb-4">Back to Questions</a>
    {% endif %}
    <div class="d-flex align-items-center justify-content-between">
      {% if tag %}
        <h2>Questions with #{{ tag }}: {{ questions_count }}</h2>
      {% else %}
         <h2>Questions: {{ questions_count }}</h2>
      {% endif %}
      <a href="{% url 'main:questions:question_create' %}" class="btn btn-warning">Ask a Question</a>
    </div>
    <nav class="d-flex align-items-center gap-2 mt-2" aria-label="Questions page navigation">
      <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
    <div>
      {% for question in questions %}
        <div class="card my-3">
          <div class="card-body">
            <div class="mb-2">
              {% for tag in question.tags.all %}
                <a href="{% url 'main:questions:tagged_question_list' tag.name %}" class="badge bg-dark text-white" style="text-decoration: none;">{{ tag.name }}</a>
              {% endfor %}
            </div>
            <h5 class="card-title">{{ question.title }}</h5>
            {% if question.content|length > 255 %}
              <p class="card-text">{{ question.content|truncatechars:255 }}<a href="{% url 'main:questions:question_detail' question.id %}" class="btn btn-link">Read More</a></p>
            {% else %}
              <p class="card-text">{{ question.content }}</p>
            {% endif %}
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a href="{% url 'main:questions:question_detail' question.id %}" class="btn btn-info">View Question</a>
            <div class="d-flex gap-2 justify-content-center align-items-center">
              <h6 class="card-text mb-0"><span class="text-muted">asked by</span> <img src="{{ question.author.profile.image.url }}" style="width: 20px; height: 20px; border-radius: 50%;" alt="{{ question.author.username }}'s avatar" /> {{ question.author.username }}</h6>
              <span class="badge bg-secondary text-white">{{ question.created_at|date:_("d/m/Y, H:i") }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
