{% extends 'main/base.html' %} 

{% block title %} 
  StackOverflow Clone | Questions
{% endblock %} 

{% block content %}
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h2>Questions: {{ questions_count }}</h2>
      <a href="{% url 'main:questions:question_create' %}" class="btn btn-warning">Ask a Question</a>
    </div>
    <div class="gap-4">
      {% for question in questions %}
        <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title">{{ question.title }}</h5>
            {% if question.content|length > 255 %}
              <p class="card-text">{{ question.content|truncatechars:255 }}<a href="{% url 'main:questions:question_detail' question.id %}" class="btn btn-link">Read More</a></p>
            {% else %}
              <p class="card-text">{{ question.content }}</p>
            {% endif %}
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a href="{% url 'main:questions:question_detail' question.id %}" class="btn btn-info">View Question</a>
            <div class="d-flex gap-2 justify-content-center align-items-center">
              <h6 class="card-text mb-0"><span class="text-muted">asked by</span> <img src="{{ question.author.profile.image.url }}" style="width: 20px; height: 20px; border-radius: 50%;" alt="{{ question.author.username }}'s avatar" /> {{ question.author.username }}</h6>
              <span class="badge bg-secondary text-white">{{ question.created_at|date:_("d/m/Y, H:i") }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
